@model Sinav.Models.ViewModels.UserVM
@{
    ViewData["Title"] = "Detalle usuario";

    //Obtener edad
    DateTime fechaNacimiento = Model.User.Birthdate;
    DateTime hoy = DateTime.Today;
    int edad = hoy.Year - fechaNacimiento.Year;

    if (hoy.Month < fechaNacimiento.Month || (hoy.Month == fechaNacimiento.Month && hoy.Day < fechaNacimiento.Day))
    {
        edad--;
    }

    //Modificar tipo documento
    string tipoDoc = Model.User.DocumentType;
    string tipoDocEdited = "Registro Civil";
    if (tipoDoc == "CC")
    {
        tipoDocEdited = "Cedula de ciudadania";
    }
    if (tipoDoc == "TI")
    {
        tipoDocEdited = "Targeta de identidad";
    }
    if (tipoDoc == "PA")
    {
        tipoDocEdited = "Pasaporte";
    }
    if (tipoDoc == "CE")
    {
        tipoDocEdited = "Cedula extranjeria";
    }

    //Parsear fecha
    DateTime birthDate = Model.User.Birthdate;
    string formatedBirtDate = birthDate.ToString("dd-MMMM-yyyy");

    //Genero
    string gender = Model.User.Gender;
    string formatedGender = "Masculino";
    if (gender == "F")
    {
        formatedGender = "Femenino";
    }

    //id usuario
    var userId = Model.User.Id;
}

<div class="container-fluid mt-4">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="text-primary m-3">@Html.DisplayFor(u => u.User.Name) @Html.DisplayFor(u => u.User.Surname)</h3>
            <hr/>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <p><strong>Edad: </strong>@edad años</p>
                    </div>
                    <div class="col-md-4">
                        <p><strong>Genero: </strong>@formatedGender</p>
                    </div>
                    <div class="col-md-4">
                        <p><strong>Direccion: </strong>@Html.DisplayFor(m => m.User.Address)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p><strong>Tipo Documento: </strong>@tipoDocEdited</p>
                    </div>
                    <div class="col-md-4">
                        <p><strong>Numero Documento: </strong>@Html.DisplayFor(m => m.User.DocumentNumber)</p>
                    </div>
                    <div class="col-md-4">
                        <p><strong>Telefono: </strong>@Html.DisplayFor(m => m.User.Phone)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>Fecha nacimiento: </strong>@formatedBirtDate</p>
                    </div>
                </div>
            </div>
            <hr />
        </div>
        
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="text-primary mb-3">Enfermedades</h5>
                    @if (Model.GetListDiseaseUser.Any())
                    {
                        <ul>
                            @foreach (var item in Model.GetListDiseaseUser)
                            {
                                <li>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6">
                                                @item.Disease.Name - @item.Observations
                                            </div>
                                            <div class="col-md-6">
                                                <form action="@Url.Action("RemoveDisease", "user")" method="post">
                                                    <input type="hidden" name="id" value="@item.Id" />
                                                    <button type="submit" class="btn btn-link p-0 m-0">
                                                        <i class="far fa-trash-alt"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p class="text-center"><strong>A la fecha el usuario no presenta enfermedades</strong></p>
                    }
                    <div class="container mb-3">
                        <div class="col-12">
                            <!-- Button trigger modal Enfermedad-->
                            <a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#diseaseModal"><i class="fas fa-plus"></i> Agregar</a>

                            <!-- Modal Enfermedad-->
                            <div class="modal fade" id="diseaseModal" tabindex="-1" aria-labelledby="diseaseModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="text-primary" id="diseaseModalLabel">Enfermedad</h2>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" asp-action="AddDisease">
                                                <div class="col-12">
                                                    <input asp-for="DiseaseUser.UserId" value="@userId" style="display: none" />

                                                    <div class="form-group row">
                                                        <div class="col-12">
                                                            <div class="form-floating mb-3">
                                                                @Html.DropDownListFor(m => m.DiseaseUser.DiseaseId, Model.GetListDiseases,
                                                                "-Selecciona la enfermedad-", new {@class = "form-control"})
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <div class="col-12">
                                                            <div class="form-floating mb-3">
                                                                <input asp-for="DiseaseUser.Observations" class="form-control" autocomplete="name" aria-required="true" placeholder="Observaciones" />
                                                                <label asp-for="DiseaseUser.Observations">Observaciones</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row mt-2 mb-4">
                                                        <div class="col-md-3 ">
                                                            <button type="submit" class="btn btn-outline-success btn-sm form-control">Crear</button>
                                                        </div>
                                                        <div class="col-md-3 ">
                                                            <button type="button" class="btn btn-outline-primary btn-sm form-control" data-bs-dismiss="modal">Cerrar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                     <h5 class="text-primary mb-3">Alergias</h5>
                    @if (Model.GetListAllergyUser.Any())
                    {
                        <ul>
                            @foreach (var item in Model.GetListAllergyUser)
                            {
                                <li>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6">
                                                @item.Allergy.Name - @item.Observations
                                            </div>
                                            <div class="col-md-6">
                                                <form action="@Url.Action("RemoveAllergy", "user")" method="post">
                                                    <input type="hidden" name="id" value="@item.Id" />
                                                    <button type="submit" class="btn btn-link p-0 m-0">
                                                        <i class="far fa-trash-alt"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p class="text-center"><strong>A la fecha el usuario no presenta alergias</strong></p>
                    }
                    <div class="container">
                        <div class="col-12">
                            <!-- Button trigger modal Alergias-->
                            <a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#allergyModal"><i class="fas fa-plus"></i> Agregar</a>

                            <!-- Modal Alergias-->
                            <div class="modal fade" id="allergyModal" tabindex="-1" aria-labelledby="allergyModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="text-primary" id="allergyModalLabel">Alergia</h2>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" asp-action="AddAllergy">
                                                <div class="col-12">
                                                    <input asp-for="AllergyUser.UserId" value="@userId" style="display: none" />

                                                    <div class="form-group row">
                                                        <div class="col-12">
                                                            <div class="form-floating mb-3">
                                                                @Html.DropDownListFor(m => m.AllergyUser.AllergyId, Model.GetListAllergies,
                                                                "-Selecciona la alergia-", new {@class = "form-control"})
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <div class="col-12">
                                                            <div class="form-floating mb-3">
                                                                <input asp-for="AllergyUser.Observations" class="form-control" autocomplete="name" aria-required="true" placeholder="Observaciones" />
                                                                <label asp-for="AllergyUser.Observations">Observaciones</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row mt-2 mb-4">
                                                        <div class="col-md-3 ">
                                                            <button type="submit" class="btn btn-outline-success btn-sm form-control">Crear</button>
                                                        </div>
                                                        <div class="col-md-3 ">
                                                            <button type="button" class="btn btn-outline-primary btn-sm form-control" data-bs-dismiss="modal">Cerrar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="col-md-12">
                    <h5 class="text-primary mb-3">Inmunizaciones</h5>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-primary" scope="col">Vacuna</th>
                                    <th class="text-primary" scope="col">Dosis</th>
                                    <th class="text-primary" scope="col">Lote</th>
                                    <th class="text-primary" scope="col">Fecha</th>
                                    <th class="text-primary" scope="col">Eliminar</th>
                                </tr>
                            </thead>

                            @if (Model.GetListVaccineUser.Any())
                            {
                                <tbody>
                                    @foreach (var item in Model.GetListVaccineUser)
                                    {
                                         
                                        <tr>
                                            <td>@item.Vaccine.Name</td>
                                            <td>@item.Dose</td>
                                            <td>@item.Rate</td>
                                            <td>@item.CreatedAt.ToShortDateString()</td>
                                            <td>
                                                <form action="@Url.Action("RemoveVaccine", "user")" method="post">
                                                    <input type="hidden" name="id" value="@item.Id" />
                                                    <button type="submit" class="btn btn-link p-0 m-0">
                                                        <i class="far fa-trash-alt"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4"><p class="text-center mt-3"><strong>A la fecha no se le han aplicado vacunas al usuario</strong></p></td>
                                </tr>
                            }

                        </table>
                    </div>
                <div/>
            </div>

            <div class="container">
                    <!-- Button trigger modal Vaccine-->
                    <a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#vaccineModal"><i class="fas fa-plus"></i> Agregar</a>

                    <!-- Modal Vaccine-->
                    <div class="modal fade" id="vaccineModal" tabindex="-1" aria-labelledby="vaccineModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="text-primary" id="vaccineModalLabel">Vacuna</h2>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" asp-action="AddVaccine">
                                        <div class="col-12">
                                            <input asp-for="VaccineUser.UserId" value="@userId" style="display: none" />

                                            <div class="form-group row">
                                                <div class="col-12">
                                                    <div class="form-floating mb-3">
                                                        @Html.DropDownListFor(m => m.VaccineUser.VaccineId, Model.GetListVaccines,
                                                        "-Selecciona la vacuna-", new {@class = "form-control"})
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-12">
                                                    <div class="form-floating mb-3">
                                                        <input asp-for="VaccineUser.Dose" type="number" class="form-control" autocomplete="name" aria-required="true" placeholder="Dosis" />
                                                        <label asp-for="VaccineUser.Dose">Dosis</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-12">
                                                    <div class="form-floating mb-3">
                                                        <input asp-for="VaccineUser.Rate" class="form-control" autocomplete="name" aria-required="true" placeholder="Lote" />
                                                        <label asp-for="VaccineUser.Rate">Lote</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mt-2 mb-4">
                                                <div class="col-md-3 ">
                                                    <button type="submit" class="btn btn-outline-success btn-sm form-control">Crear</button>
                                                </div>
                                                <div class="col-md-3 ">
                                                    <button type="button" class="btn btn-outline-primary btn-sm form-control" data-bs-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

            <hr/>

            <div>
                <a asp-controller="User" asp-action="Index">Volver</a>
            </div>
        </div>
    </div>
</div>
</div>
